<!DOCTYPE html>
<html>
<head>
    <title>Table with Links</title>
</head>
<body>
<h1>Lede LV Topology List</h1>
<table border="1">
    <thead>
    <tr>
        {% for key in data[0].keys() %}
        <th>{{ key.capitalize() }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        {% for key, value in item.items() %}
        {% if key == 'meter_id' %}
        <td><a href="{{ url_for('uuid', uuid=item['uuid'], meter_id=item['meter_id'] ) }}">{{ value }}</a></td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
